In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation,Conv2D,MaxPooling2D,Flatten

In [2]:
data = pd.read_csv("F:/Git_projects/digit_recognition/train.csv")

In [48]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
x = data.drop("label",axis = 1).to_numpy()
y = data["label"].to_numpy()

In [21]:
x = x/255
x.shape

(42000, 784)

In [35]:
x = x.reshape(-1,28,28,1)

In [36]:
x.shape

(42000, 28, 28, 1)

In [22]:
y.shape

(42000,)

In [42]:
model = Sequential()

In [43]:
model.add(Conv2D(128,(3*3),input_shape= x.shape[1:]))
model.add(Activation("relu"))
model.add(MaxPooling2D(2,2))

model.add(Conv2D(128,(3*3)))
model.add(Activation("relu"))
model.add(MaxPooling2D(2,2))

model.add(Flatten())
model.add(Dense(64))
model.add(Activation("relu"))

model.add(Dense(64))
model.add(Activation("relu"))

model.add(Dense(10))
model.add(Activation("sigmoid"))

In [44]:
model.add(Flatten(input_shape = (28,28)))
model.add(Dense(150))
model.add(Activation("sigmoid"))

model.add(Dense(10))
model.add(Activation("sigmoid"))

In [45]:
model.compile(loss = "sparse_categorical_crossentropy",
              optimizer = "adam",
             metrics = ["accuracy"])

In [46]:
model.fit(x,y,batch_size = 128,epochs = 10,validation_split = 0.1)

Epoch 1/10
296/296 [==============================] - 54s 183ms/step - loss: 1.9662 - accuracy: 0.4763 - val_loss: 0.7286 - val_accuracy: 0.9610
Epoch 2/10
296/296 [==============================] - 56s 190ms/step - loss: 0.5383 - accuracy: 0.9621 - val_loss: 0.2173 - val_accuracy: 0.9755
Epoch 3/10
296/296 [==============================] - 56s 190ms/step - loss: 0.1720 - accuracy: 0.9810 - val_loss: 0.1053 - val_accuracy: 0.9843
Epoch 4/10
296/296 [==============================] - 57s 191ms/step - loss: 0.0796 - accuracy: 0.9881 - val_loss: 0.0613 - val_accuracy: 0.9874
Epoch 5/10
296/296 [==============================] - 56s 191ms/step - loss: 0.0442 - accuracy: 0.9928 - val_loss: 0.0613 - val_accuracy: 0.9867
Epoch 6/10
296/296 [==============================] - 57s 192ms/step - loss: 0.0313 - accuracy: 0.9944 - val_loss: 0.0721 - val_accuracy: 0.9829
Epoch 7/10
296/296 [==============================] - 57s 192ms/step - loss: 0.0264 - accuracy: 0.9943 - val_loss: 0.0494 - val_accuracy: 0.9881
Epoch 8/10
296/296 [==============================] - 56s 190ms/step - loss: 0.0176 - accuracy: 0.9968 - val_loss: 0.0557 - val_accuracy: 0.9860
Epoch 9/10
296/296 [==============================] - 55s 185ms/step - loss: 0.0169 - accuracy: 0.9965 - val_loss: 0.0471 - val_accuracy: 0.9886
Epoch 10/10
296/296 [==============================] - 54s 183ms/step - loss: 0.0182 - accuracy: 0.9959 - val_loss: 0.0431 - val_accuracy: 0.9890

In [59]:
test_data = pd.read_csv("F:/Git_projects/digit_recognition/test.csv")

In [60]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
test_data = test_data.to_numpy()
test_data = test_data.reshape(-1,28,28,1)

In [63]:
prediction = model.predict(test_data)

In [107]:
prediction

array([[4.5112565e-01, 5.6169927e-03, 9.9959254e-01, ..., 1.9369414e-01,
        8.3416861e-01, 1.4662206e-02],
       [9.9988365e-01, 5.0190091e-04, 6.7088628e-01, ..., 3.9925468e-01,
        2.9063523e-03, 2.0661741e-02],
       [2.6728511e-03, 2.3328343e-01, 1.4579296e-03, ..., 5.3820926e-01,
        7.3243028e-01, 9.9952042e-01],
       ...,
       [6.4352244e-02, 6.4564347e-01, 2.9126832e-01, ..., 3.5785604e-01,
        8.0829674e-01, 1.2749732e-03],
       [2.6728213e-03, 2.3328346e-01, 1.4580190e-03, ..., 5.3820920e-01,
        7.3243022e-01, 9.9952042e-01],
       [4.5112565e-01, 5.6170821e-03, 9.9959254e-01, ..., 1.9369400e-01,
        8.3416861e-01, 1.4662117e-02]], dtype=float32)

In [108]:
output = np.argmax(prediction,axis = 1)

## len(output)

In [156]:
output = pd.Series(output,name = "Label")

In [157]:
final_output = pd.concat([pd.Series((range(1,28001)),name = "ImageID"),output],axis = 1)

In [158]:
final_output.describe

<bound method NDFrame.describe of        ImageID  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]>

In [159]:
final_output.to_csv("submission.csv",index = False)